.weather-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
}

.city-name {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    margin-top: 0px;
}

.weather-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.temperature {
    font-size: 48px;
    font-weight: bold;
    color: #1e88e5;
}

.weather-description {
    font-size: 18px;
    color: #666;
    text-transform: capitalize;
}

.weather-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: start;
}

.detail-item {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
}


.detail-item .icon{
    margin-right: 15px;
    color: #1e88e5
}

.detail-label {
    font-weight: bold;
    margin-right: 5px;
}
